<header class="lt-bl-bg-2 home">
    <nav class="home-nav">
        <div routerLink="/" class="logo lt-bl">HEALTCARE.</div>

        <ul id="full-height" #navUl>
            <li id="hide-button" (click)="navHide(navUl)"><i class="fa fa-times lt-bl"></i></li>
            <li class="lt-bl"><a routerLink="/">Home</a></li>
            <li><a routerLink="">About</a></li>
            <li><a routerLink="">Services</a></li>
            <li><a routerLink="/contact-us">Contact</a></li>
            <a routerLink="/dashboard"><button class="lt-bl-bg wh">Get Started </button></a>
        </ul>

        <li id="show-button" (click)="navShow(navUl)"><i class="fa fa-bars"></i></li>
    </nav>

    <div class="home-text">
        <h1 class="m-btm">Find And Search Your <br> <span class="lt-bl"><h1>Suitable Doctor's</h1></span></h1>

        <p class="m-btm gr bl-sm">Join us and take care of yourself and your family with health services that will make you feel confident and safe in your daily life.</p>

        <button class="lt-bl-bg wh">Book Appointment &nbsp; <i class="fa fa-arrow-right"></i></button>
    </div>

    <img src="assets/images/header_img.svg" class="header_img" alt="">
</header>

<section class="drk-2 home">
    <h2 class="m-btm">3 Easy Steps and Get Your Solution</h2>

    <div class="container small-cards-container m-btm">
        <div class="col-3"><img class="img-sc t-up" src="assets/images/find-best-doctors.svg" alt=""></div>
        <div class="col-3"><img class="img-sc t-down" src="assets/images/get-appointment.svg" alt=""></div>
        <div class="col-3"><img class="img-sc t-down" src="assets/images/happy-consultations.svg" alt=""></div>
    </div>


    <!-- quality -->
    <div class="container a-center m-btm m-top">
        <img src="assets/images/group1.svg" alt="" class="col-2 smiling-doc-image">
        <div class="col-2 t-a-c">
            <h2 class="m-btm">Best quality service with our experience doctors</h2>

            <p class="m-btm t-a-l">With our top doctors, we are able to provide best medical services above average We have highly experienced doctors, so don't worry They are also very talented in their fields</p>

            <div class="flex m-btm t-a-l">
                <img class="tick-icon" src="assets/images/tick-bullet.svg" alt="">

                <div>Search your specialist & Online consultations anywhere</div>
            </div>

            <div class="flex m-btm t-a-l">
                <img class="tick-icon" src="assets/images/tick-bullet.svg" alt="">

                <div>Consultation our top specialists</div>
            </div>

            <div class="flex m-btm t-a-l">
                <img class="tick-icon" src="assets/images/tick-bullet.svg" alt="">

                <div>Doctors are available 24/7</div>
            </div>
            <button class="wh lt-bl-bg">Explore specialists &nbsp; <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>

    <!-- our services -->
    <h2 class="m-btm m-top">Our Services</h2>
    <p class="m-btm">Our doctors have high qualified skills and are guaranteed to help you recover from your disease.</p>

    <div class="container small-cards-container m-btm services-cards">
        <div class="col-3 gr-bg br-8">
            <img src="assets/images/cardiology.svg" alt="">
            <div class="card-title">Cardiology</div>
            <p>Our cardiologists are skilled at  the diagnosing and treating diseases
                of the cardiovascular system.</p>
        </div>
        <div class="col-3 gr-bg br-8">
            <img src="assets/images/pulmonary.svg" alt="">
            <div class="card-title">Pulmonary</div>
            <p>Our Pulmonologist are skilled at  diagnosing treating diseases of the Pulmonology system.</p>
        </div>
        <div class="col-3 gr-bg br-8">
            <img src="assets/images/medicine.svg" alt="">
            <div class="card-title">Medicine</div>
            <p>Our medcine doctor are skilled at  diagnosing treating diseases of the  latest medicne system.</p>
        </div>
    </div>

    <img src="assets/images/dot-bar.svg" alt="" class="dot-bar">

    <!-- meet the doctors -->
    <h2 class="m-btm">Meet Our Certified Online Doctors</h2>

    <img src="assets/images/title_tag.svg" alt="" class="title-tag">

    <p class="m-btm">Our online doctors have an average of 15 years experience and a 98% satisfaction rating, they really set us apart!</p>

    <div class="container">
        <div class="col-2-3s br-8 wh-bg pd--1 flex-col a-center">
            <div class="br-8 bg-amanda m-btm-3"></div>

            <div class="card-title m-btm-3">Dr Amanda Linda </div>

            <div class="gr m-btm-3">Dentist Specilist</div>

            <div class="f-container col--55s m-btm-3">
                <img src="assets/images/fb-colored.svg" alt="">
                <img src="assets/images/tw-colored.svg" alt="">
                <img src="assets/images/ln-colored.svg" alt="">
            </div>
        </div>

        <div class="col-2-3s br-8 wh-bg pd--1 flex-col a-center">
            <div class="br-8 bg-alissa m-btm-3"></div>

            <div class="card-title m-btm-3">Dr. Alisa Rahman</div>

            <div class="gr m-btm-3">Carddiologist Specilist</div>

            <div class="f-container col--55s m-btm-3">
                <img src="assets/images/fb-colored.svg" alt="">
                <img src="assets/images/tw-colored.svg" alt="">
                <img src="assets/images/ln-colored.svg" alt="">
            </div>
        </div>

        <div class="col-2-3s br-8 wh-bg pd--1 flex-col a-center">
            <div class="br-8 bg-anthony m-btm-3"></div>

            <div class="card-title m-btm-3">Dr. Anthony Fauci</div>

            <div class="gr m-btm-3">Neurology Specilist</div>

            <div class="f-container col--55s m-btm-3">
                <img src="assets/images/fb-colored.svg" alt="">
                <img src="assets/images/tw-colored.svg" alt="">
                <img src="assets/images/ln-colored.svg" alt="">
            </div>
        </div>

        <div class="col-2-3s br-8 wh-bg pd--1 flex-col a-center">
            <div class="br-8 bg-khalid m-btm-3"></div>

            <div class="card-title m-btm-3">Dr. Khalid Abbed</div>

            <div class="gr m-btm-3">Cancer Specilist</div>

            <div class="f-container col--55s m-btm-3">
                <img src="assets/images/fb-colored.svg" alt="">
                <img src="assets/images/tw-colored.svg" alt="">
                <img src="assets/images/ln-colored.svg" alt="">
            </div>
        </div>
    </div>

    <button class="lt-bl-bg wh">Explore All Doctors</button>

    <!-- mobile app -->
    <div class="container a-center m-btm m-top">
        <img src="assets/images/mobile-app-pictures.svg" alt="" class="col-2 app-store-image">
        <div class="col-2 t-a-c">
            <h2 class="m-btm">Mobile apps are available <br>Get HealthCare for free!</h2>

            <p class="m-btm">Get on-demand access to a doctor on your phone with the free HealthCare mobile app. Download and register on our app for free and feel safe for all your family</p>

            <div class="m-btm app-store">
                <img src="assets/images/google-play.svg" alt="">

                <img src="assets/images/app-store.svg" alt="">
            </div>
        </div>
    </div>

    <!-- clients testiminies -->
    <h2 class="m-btm">Look our Clients have to say about us</h2>

    <div class="container client-cards">
        <div class="col-3 pd-3">
            <img class="client-img" src="assets/images/alan-zara.png" alt="">
            <img src="assets/images/blue-circle.svg" class="blue-circle" alt="">
            <div class="card-title m-btm">Alan Zara dilan</div>
            <div class="lt-bl m-btm">New York, America, USA</div>
            <div>Telehealth is fueled by digital technologies and DocTime telemedicine app has brought a great revolution in medical services specially an overpopulated country where virtual chamber can create at anywhere thoughout country</div>                
        </div>
        
        <div class="col-3 pd-3">
            <img class="client-img" src="assets/images/alex-maxwell.svg" alt="">
            <img src="assets/images/blue-circle.svg" class="blue-circle" alt="">
            <div class="card-title m-btm">Alex Maxwell</div>
            <div class="lt-bl m-btm">San Francisco, USA</div>
            <div>I visited my PCP for abdominal pain. My doctor told me that I need to see Gastroenterologist. Earlier I used to call multiple offices to schedule an appointment that suites my time.</div> 
        </div>
        
        <div class="col-3 pd-3">
            <img class="client-img" src="assets/images/tasnim-zara.svg" alt="">
            <img src="assets/images/blue-circle.svg" class="blue-circle" alt="">
            <div class="card-title m-btm">Dr. Tasnim zara</div>
            <div class="lt-bl m-btm">Los Angeles, USA</div>
            <div>HealthCare is enlightens my superpower each and every time...! I find DocTime a brand-able telemedicine platform with virtual waiting room, video consultation, e-prescription, beautifully planned user interface.
                Thank you &nbsp; :)</div>
        </div>
    </div>

    <!-- smiling young female doctor -->
    <div class="lt-bl-bg wh section-end">
        <div>
            <h2 class="m-btm">It’s time change your life today</h2>
            <button class="wh-bg lt-bl">Book an Appoinment </button>
        </div>

        <img src="assets/images/smiling-female-doctor.png" alt="">
    </div>
</section>


<!-- footer -->
<footer class="drk-gr">
    <div class="footer-t">
        <div class="lg-1">
            <div class="logo lt-bl m-btm">HEALTCARE.</div>
            <div class="m-btm">Metairie, 3689  Bassel Street, LA, Louisiana</div>
            <div class="m-btm">Contact us: 225-788-5489</div>
            <div class="flex d-none">
                <img src="assets/images/facebook-icon.svg" alt="">
                <img src="assets/images/instagram-icon.svg" alt="">
                <img src="assets/images/twitter-icon.svg" alt="">
                <img src="assets/images/youtube-icon.svg" alt="">
            </div>
        </div>
        <div class="md">
            <div class="drk-2 footer-titles m-btm">Category</div>
            <div class="m-btm">Home</div>
            <div class="m-btm">About</div>
            <div class="m-btm">Services</div>
            <div class="m-btm">Reviews</div>
            <div class="m-btm">Article</div>
        </div>
        <div class="md">
            <div class="drk-2 footer-titles m-btm">About</div>
            <div class="m-btm">Partners</div>
            <div class="m-btm">Careers</div>
            <div class="m-btm">Peers</div>
            <div class="m-btm">Community</div>
        </div>
        <div class="lg-2">
            <div>
                <div class="drk-2 footer-titles m-btm">Subscribe Newsletter</div>
                <div class="m-btm">Sign up for tips, new destinations, and exclusive promos.</div>
            </div>

            <form action="">
                <input type="text" placeholder="Enter your email address">
                <button class="lt-bl-bg wh">Subscribe</button>
            </form>

            <div class="d-flex">
                <img src="assets/images/facebook-icon.svg" alt="">
                <img src="assets/images/instagram-icon.svg" alt="">
                <img src="assets/images/twitter-icon.svg" alt="">
                <img src="assets/images/youtube-icon.svg" alt="">
            </div>
        </div>
    </div>

    <div class="footer-b">
        <div>© 2021 Healthcare - All rights reserved.</div>
        <div class="footer-b-child">
            <div>Privacy</div>
            <div>Security</div>
            <div>Terms</div>
        </div>
    </div>
</footer> 