<header class="lt-bl-bg contact wh">
    <nav>
        <div routerLink="home" class="logo">HEALTCARE .</div>

        <ul class="bl-bg-im">
            <li id="hide-button"><i class="fa fa-times wh"></i></li>
            <li><a href="/">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="/contact-us">Contact</a></li>
            <a href="/dashboard"><button class="wh-bg lt-bl">Get Started</button></a>
        </ul>

        <li id="show-button"><i class="fa fa-bars wh"></i></li>
    </nav>

    <div class="contact-text centered">
        <h1 class="poppins">Contact Us</h1>

        <p class="poppins">An enim nullam tempor sapien gravida donec enim ipsum porta justo congue purus pretium ligula</p>

        <p>Home &nbsp; <i class="fa fa-angle-right"></i> &nbsp; Contact</p>
    </div>
</header>

<section class="container pd-7">
    <div class="col-3--5 shdw br-8 flex-col">
        <div class="lt-bl-bg wh contact-details-head">Contact Details</div>
        <div class="pd-10 contact-details flex-col">
            <div class="f-18 bd-7">Office Address</div>

            <div class="flex">
                <div class="icon"><img src="assets/images/location-icon.svg" alt=""></div>
                <div>2118 Thornridge Cir. Syracuse, California 208434</div>
            </div>

            <hr class="lt-bl">

            <div class="f-18 bd-7">Contact Info</div>
            <div class="flex">
                <div class="icon"><img src="assets/images/telephone-icon.svg" alt=""></div>
                <div>+088 (246) 642-27-10</div>
            </div>

            <div class="flex">
                <div class="icon"><img src="assets/images/mail-icon.svg" alt=""></div>
                <div>Appmax@gmail.com</div>
            </div>
        </div>
    </div>

    <div class="col-5-5 shdw br-8">
        <form id="contactUs" action="" class="pd-2">
            <input required autofocus name="name" type="text" class="gr-bg" placeholder="Enter your name*">

            <input name="email" type="email" class="gr-bg" placeholder="Enter your email address*">

            <textarea name="message" name="" id="" cols="30" rows="6" class="gr-bg" placeholder="Write your message"></textarea>

            <button type="submit" class="wh lt-bl-bg ft-btn">Send Message</button>
        </form>
    </div>
</section>

<section class="map"> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15837.038411141903!2d3.384936464304008!3d7.095879261467008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103a4ac3aad61d17%3A0x8cb9281ed8dd8efd!2s110118%2C%20Kobape!5e0!3m2!1sen!2sng!4v1647354072076!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>

<footer class="drk-gr">
    <div class="footer-t">
        <div class="lg-1">
            <div class="logo lt-bl m-btm">HEALTCARE.</div>
            <div class="m-btm">Metairie, 3689  Bassel Street, LA, Louisiana</div>
            <div class="m-btm">Contact us: 225-788-5489</div>
            <div class="flex d-none">
                <img src="assets/images/facebook-icon.svg" alt="">
                <img src="assets/images/instagram-icon.svg" alt="">
                <img src="assets/images/twitter-icon.svg" alt="">
                <img src="assets/images/youtube-icon.svg" alt="">
            </div>
        </div>
        <div class="md">
            <div class="drk-2 footer-titles m-btm">Category</div>
            <div class="m-btm">Home</div>
            <div class="m-btm">About</div>
            <div class="m-btm">Services</div>
            <div class="m-btm">Reviews</div>
            <div class="m-btm">Article</div>
        </div>
        <div class="md">
            <div class="drk-2 footer-titles m-btm">About</div>
            <div class="m-btm">Partners</div>
            <div class="m-btm">Careers</div>
            <div class="m-btm">Peers</div>
            <div class="m-btm">Community</div>
        </div>
        <div class="lg-2">
            <div>
                <div class="drk-2 footer-titles m-btm">Subscribe Newsletter</div>
                <div class="m-btm">Sign up for tips, new destinations, and exclusive promos.</div>
            </div>

            <form action="">
                <input type="text" placeholder="Enter your email address">
                <button class="lt-bl-bg wh">Subscribe</button>
            </form>

            <div class="d-flex">
                <img src="assets/images/facebook-icon.svg" alt="">
                <img src="assets/images/instagram-icon.svg" alt="">
                <img src="assets/images/twitter-icon.svg" alt="">
                <img src="assets/images/youtube-icon.svg" alt="">
            </div>
        </div>
    </div>

    <div class="footer-b">
        <div>© 2021 Healthcare - All rights reserved.</div>
        <div class="footer-b-child">
            <div>Privacy</div>
            <div>Security</div>
            <div>Terms</div>
        </div>
    </div>
</footer>